
body{
    background-color:rgb(36, 35, 35);
}
h1{
    color:aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:100px;
}
.incont{
    display:grid;
    place-content: center;
    text-align: center;
    
}
.btncont{
    display:flex;
    place-content:center;
}
button{
    max-width: 225px;
    min-width:225px;
    max-height:100px;
    min-height:100px;
    font-size:30px;
    text-align:center;
    border-radius: 9px;
    border-style:solid;
    border-width: 3px;
}
input{
    max-width:400px;
    min-width:400px;
    max-height:30px;
    min-height:60px;
    font-size:40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#sum{
    background-color:rgb(231, 2, 2);
    border-color:rgb(241, 95, 95);
}
#sum:hover{
    background-color:rgb(228, 100, 100);
    border-color:rgb(231, 2, 2);
}
#sum:active{
    background-color:rgb(104, 7, 7);
}
#rest{
    background-color:aqua;
}
#rest:hover{
    background-color: rgb(203, 255, 238);
}
#rest:active{
    background-color: rgb(98, 98, 245);
}
#mult{
    background-color:chartreuse;
    border-color:rgb(117, 219, 107);
}
#mult:hover{
    background-color:rgb(117, 219, 107);
    border-color:chartreuse;
}
#mult:active{
    background-color:rgb(1, 85, 19);
}
#divid{
    background-color:coral;
    border-color:rgb(248, 215, 173);
}
#divid:hover{
    background-color:rgb(248, 215, 173);
    border-color:coral;
}
#divid:active{
    background-color: rgb(243, 243, 243);
}